<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<style>
    body {
        background: black;
        color: white;
    }

    thead {
        color: black;
        background-color: white;
    }
</style>

<body>
    <div style="text-align: center;">
        <h1><b>Estado Actual de Reservas</b></h1>
    </div>
    <div class="row">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            PROGRAMADAS PARA HOY</FONT></b>
                        </th>
                        <th>
                            RESERVAS EN PROGRESO
                        </th>
                        <th>
                            RESERVAS COMPLETADAS
                        </th>
                        <th>
                            RESERVAS CANCELADAS
                        </th>
                        <th colspan="2"></th>

                    </tr>
                </thead>

                <tbody>
                    
                    <tr>
                        <td>
                            <FONT COLOR="white">{{cantidadEspera}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{cantidadProgreso}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{cantidadCompletada}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{cantidadCancelada}}
                        </td>
                        </FONT>
                    </tr>
                   
                </tbody>
            </table>
            <h3><b><FONT color="white">RATIO DE RESERVAS EN PROGRESO: {{ratioProgreso}} % </FONT></b><br></h3>
            <h3><b><FONT color="white">RATIO DE RESERVAS COMPLETADAS: {{ratioCompletado}} % </FONT></b><br></h3>
            
        </div>
    </div>


</body>
{% endblock %}

</html>