<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<style>
    body {
        background: black;
        color: white;
    }

    thead {
        color: black;
        background-color: white;
    }
    input {
        background: #e4dc6e;
        padding: 10px;
        padding-left: 20px;
        height: 50px;
        font-size: 14px;
        border-radius: 10px;
        box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
    }
</style>

<body>
    <div class="row">
        <div style="text-align: center;" class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            
            <form action='/buscarFecha/' method="POST">
                {% csrf_token %}
                <button type="submit" style="width: 40px; height: 40px; text-align: center;" name ="menos" class="btn btn-warning">-</button>
                <button type="submit" style="width: 40px; height: 40px; text-align: center;" name="mas" class="btn btn-warning">+</button>
                {{formBusca}}
                <style>
                    input[type="date"] {
                        width: 250px;
                        height: 70px;
                    }
                </style>
                <button type="submit" class="btn btn-warning" name = "accion" value="Buscar">Buscar</button><br><br>
                Filtrar por turno:
                <button type="submit" class="btn btn-info" name="accion" value="Almuerzo">Almuerzo</button>
                <button type="submit" class="btn btn-info" name="accion" value="Cena">Cena</button>
            </form>
        </div>

        <div style="text-align: center;" class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <h1><b>Calendario de Reservas</b></h1>
            Total General de reserva completadas: {{totalCompletado|default:0}}<br>
            Total de reserva completadas del dia: {{totalCompletadodia|default:0}}<br>
            Total de clientes del día: {{totalClientes|default:0}}
        </div>

        <div style="text-align: left;" class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            <form action='/#/' method="POST">
                {% csrf_token %}
                <h6>Buscar Cliente:</h6>
                <input type="text" id="nombre-input" name="nombre">
                <button type="submit" id="boton-buscar"
                style="margin-top: 10px; margin-bottom: 10px; margin-left: 0%; width: 80px; height: 40px;"
                    class="btn btn-success">BUSCAR</button>
            </form>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
            {% if turno %}
                <h1><b> Filtrado Turno: {{turno}}</b></h1>
            {% endif %}   
        </div>

    </div>
    <div class="row">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            ID
                        </th>
                        <th>
                            Cliente:
                        </th>
                        <th>
                            Telefono:
                        </th>
                        <th>
                            Correo:
                        </th>
                        <th>
                            Fecha de la Reservación:
                        </th>
                        <th>
                            Hora de la Reservación:
                        </th>
                        <th>
                            Cantidad de Personas:
                        </th>
                        <th>
                            Observaciones:
                        </th>
                        <th>
                            Estado:
                        </th>
                        <th colspan="2"><a href='/exportarExcelHist/' class="btn btn-secondary">Exportar a Excel</a></th>

                    </tr>
                </thead>

                <tbody>
                    {% for c in listaCompletado %}
                    <tr>
                        <td>
                            <FONT COLOR="white">{{c.id}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.nombre}} {{c.apellido}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.telefono|default:" "}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.emailr|default:" "}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.fechaReserva}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.hora}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.cantidadPersonas}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.observaciones}}
                        </td>
                        </FONT>
                        <td>
                            <FONT COLOR="white">{{c.estado}}
                        </td>
                        </FONT>
                        {% if c.estado_id == 1 %}
                        <td><a href='/editarReserva/{{c.id}}' class="btn btn-light">Editar Reserva</a></td>
                        {% endif %}
                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


</body>
{% endblock %}

</html>