<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block content %}
{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<script>
    function recargarPagina() {
        location.reload();
    }
    setTimeout(recargarPagina, 20000);
</script>

<style>
    body {
        background: black;
        color: white;
    }

    thead {
        color: black;
        background-color: white;
    }
</style>

<body>
    <div class="row">

        <div style="text-align: center;" class="col-sm-12 col-md-6 col-lg-2 col-xl-2">

            <a href='/muestraTarde/' class="btn btn-light">Almuerzo</a>
            <a href='/muestraCena/' class="btn btn-light">Cena</a>
            <a href='/reservasDelDia/' class="btn btn-light">Todos</a>
            <br><br>
            <!-- <form action='/reservasDelDia/' method="POST">
                {% csrf_token %}
                <h5>Buscar Cliente:</h5>
                <input type="text" id="nombre-input" name="nombre"><br>
                <button type="submit" id="boton-buscar"
                    style="margin-top: 10px; margin-bottom: 10px; margin-left: 0%; width: 100px;"
                    class="btn btn-success">BUSCAR</button>
            </form> -->
        </div>
        <div style="text-align: center;" class="col-sm-12 col-md-6 col-lg-8 col-xl-8">


            <h1><b>Reservas del Día </b></h1>
            {{fechaHoy}}<br>
            {% if turno %}
            TURNO: {{turno}}<br>
            {% endif %}
            Total de reservas del día: {{totalDia}}
            {% if busqueda_activa == 1%}
            <h1><b>
                    <font color="yellow">**Busqueda Activa**</font>
                </b></h1>
            {% endif %}
        </div>
        <div class="col-sm-12 col-md-6 col-lg-2 col-xl-2">

            <b>
                <font color="white">
                    <h3>Total Clientes: {{totalPersonas|default:0}}</h3>
                </font>
            </b>
            
            <div class="col-sm-12 col-md-8 col-lg-6 col-xl-6">
                <form action='/reservasDelDia/' method="POST">
                    {% csrf_token %}
                    <h6>Buscar Cliente:</h6>
                    <input type="text" id="nombre-input" name="nombre">
                    <button type="submit" id="boton-buscar"
                        style="margin-top: 10px; margin-bottom: 10px; margin-left: 0%; width: 80px; height: 40px;"
                        class="btn btn-success">BUSCAR</button>
                </form>
            </div>
        </div>
    </div>
        <div class="row" style="margin-left: 40px;">
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <b>
                    <font color="green">Total Reservas Atendidas: {{totalAtendido}}<br></font>
                </b>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <b>
                    <font color="red">Total Reservas anuladas: {{totalAnulado}}<br></font>
                </b>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <b>
                    <font color="yellow">Total Reservas No Show: {{totalNoshow}}<br></font>
                </b>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <b>
                    <font color="white">Total Reservas Pendientes: {{totalPendiente}}<br></font>
                </b>
            </div>
            </div>
        </div>


    <div class="row">
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>

                        </th>
                        <th style="text-align: center;">
                            Hora:
                        </th>
                        <th style="text-align: center;">
                            Cliente:
                        </th>
                        <th>
                            Cantidad de Personas:
                        </th>
                        <th style="text-align: center;">
                            Observaciones:
                        </th>
                        <th>
                            Asignar Mesa:
                        </th>
                        <th>
                            Mesa:

                        </th>


                        <th style="text-align: center;" colspan="5"><a href='/exportarExcel'
                                class="btn btn-secondary">Exportar a Excel</a></th>


                    </tr>
                </thead>

                <tbody>
                    {% for c in listaEspera %}
                    {% if c.estado_id == 3 %}
                    <tr style="background-color: red;">

                        {% elif c.estado_id == 2 %}
                    <tr style="background-color: green;">

                        {% elif c.estado_id == 4 %}
                    <tr style="background-color: yellow;">
                        {% else %}
                    <tr>
                        {% endif %}

                        <td>

                        </td>

                        <td>
                            {% if c.estado_id == 4 %}
                            <FONT COLOR="black">{{c.hora}}</FONT>
                            {% else %}
                            <FONT COLOR="white">{{c.hora}}</FONT>
                            {% endif %}
                        </td>

                        <td>
                            {% if c.estado_id == 4 %}
                            <FONT COLOR="black">{{c.nombre}}</FONT>
                            {% else %}
                            <FONT COLOR="white">{{c.nombre}}</FONT>
                            {% endif %}
                        </td>

                        <td>
                            <FONT COLOR="white">{{c.cantidadPersonas}}
                        </td>

                        <td style="text-align: center;">
                            <h4>
                                <FONT COLOR="white">{{c.observaciones}}
                            </h4>
                        </td>
                        </FONT>
                        <td>

                            <form action='/guardarMesa/{{c.id}}' method="POST">
                                {% csrf_token %}
                                <input type="text" id="mesa" name="mesa" size="7" />
                                <button class="btn btn-primary btn-sm">
                                    <img src="{% static 'guardar.png' %}" style="width: 20px; height: 20px;">
                                </button>
                            </form>

                        </td>

                        <td>
                            <h4>
                                <FONT COLOR="white">{{c.mesa_asignadaa|default:" "}}
                            </h4>
                        </td>
                        </FONT>
                        <!-- programar cambio de estado -->
                        <td style="text-align: right;"><a href='/editarReserva/{{c.id}}' class="btn btn-light"
                                style="background: url(/static/editar.png); background-size: cover; width: 50px; height: 50px;"
                                title="Editar"></a></td>
                        <td style="text-align: right;"><a href='/cambiarEstadoReserva/{{c.id}}' class="btn btn-success"
                                style="background: url(/static/atendido.png); background-size: cover; width: 50px; height: 50px;"
                                title="Atendido"></a></td>
                        <td style="text-align: right;"><a href='/cambiarEstadoAnulado/{{c.id}}'
                                onclick="return confirm('¡ATENCIÓN!\n¿Está seguro que desea eliminar esta reserva?')"
                                class="btn btn-danger"
                                style="background: url(/static/anulado.png); background-size: cover; width: 50px; height: 50px;"
                                title="Anulado"></a></td>
                        <td style="text-align: right;"><a href='/cambiarEstadoShow/{{c.id}}' class="btn btn-warning"
                                style="background: url(/static/noshow.png); background-size: cover; width: 70px; height: 50px;"
                                title="No Show"></a></td>
                        <td style="text-align: right;"><a href='/agregarIncidReser/{{c.id}}'
                                class="btn btn-light">Incidencia</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        document.getElementById("nombre-input").focus();
        document.getElementById('anula').addEventListener('click', function (event) {
            event.preventDefault(); // Evita que se siga el enlace automáticamente
            var confirmacion = confirm('!ATENCIóN¡ \n\ ¿Está seguro que desea eliminar esta reserva?');
            if (confirmacion) {
                // Si el usuario confirma, redirige a la URL o ejecuta la acción deseada
                window.location.href = event.target.href; // Redirige a la URL del enlace
            } else {
                // Si el usuario cancela, no se realiza ninguna acción
                return;
            }
        });
        document.addEventListener("keydown", function (event) {
            if (event.key === "Enter" || event.which === 13) {
                var botonBuscar = document.getElementById("boton-buscar");
                if (botonBuscar) {
                    botonBuscar.click();
                }
            }
        });
    </script>

</body>
{% endblock %}

</html>